*~
autom4te.cache/
/autoconf/autom4te.cache/
/autoconf/aclocal.m4
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/README.html
/docs/examples/*.ll
/docs/examples/*.pl
/docs/examples/*.s
/docs/examples/*.bc
/docs/examples/*.o
/docs/examples/hicpp_3_4_2_b.cpp
/.ebrowse-input-files
/BROWSE
